<% layout('layouts/stmv', { title: 'Directories' }) %>
<div class="wizard-step-1 d-block">
  <h6>Directory permissions check</h6>
  <div class="alert alert-info">
    Directory permissions are automatically configured. Proceeding to next step...
  </div>
</div>
