<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>- Installation Completed</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
  <link href="/uploads/install/css/vendors/bootstrap.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet" />
  <link href="/uploads/install/css/vendors/feathericon.min.css" rel="stylesheet">
  <link href="/uploads/install/css/vendors/animate.css" rel="stylesheet">
  <link href="/uploads/install/css/app.css" rel="stylesheet">
</head>
<body>
  <div class="page-wrapper">
    <div class="wizard-bg">
      <div class="container">
        <div class="wizard-box">
          <div class="row">
            <div class="col-sm-12">
              <div class="wizard-form-details">
                <%- include('../partials/sts') %>
                <%- body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="/uploads/install/js/popper.min.js"></script>
  <script src="/uploads/install/js/bootstrap.min.js"></script>
  <script src="/uploads/install/js/feather-icon/feather.min.js"></script>
  <% if (typeof scripts !== 'undefined') { %><%- scripts %><% } %>
</body>
</html>
